log-irc
{
    use-tor     "1";
    tor
    {
        server  "localhost";
        port    "9050";
    };

    irc
    {
        server
        {
            name    "irc.freenode.net";
            port    "6667";
            pass    "";
        };

        user
        {
            nick        "nep-noname";
            ident       "nepenthes";
            userinfo    "http://nepenthes.sf.net";
            usermodes   "+i";
        };

        channel
        {
            name    "#nepenthesirc";
            pass    "foo";
        };
    };
};
