// main configuration file for nepenthes
// see also configuration files for modules (second row in the modules section)

nepenthes
{
    moduledir               "lib/nepenthes";        // relative to workdir
    moduleconfigdir         "etc/nepenthes";                  // relative to workdir

    modules(
//  module name (in moduledir)      config file (in moduleconfigdir)

// download handler for various protocols
    "downloadcsend.so",             "download-csend.conf",          ""
    "downloadcreceive.so",          "",                             ""
    "downloadcurl.so",              "download-curl.conf",           ""
    "downloadftp.so",               "",                             ""
    "downloadlink.so",              "download-link.conf",           ""
//  "downloadnepenthes.so",         "download-nepenthes.conf",      ""  // get data from others via submit-nepenthes
    "downloadtftp.so",              "download-tftp.conf",           ""

// submission handler
    "submitfile.so",                "submit-file.conf",             ""  // save to disk
//  "submitnorman.so",              "submit-norman.conf",           ""
//  "submitnepenthes.so",           "submit-nepenthes.conf",        ""  // send to download-nepenthes in other nepenthes instances
//  "submitxmlrpc.so",        	    "submit-xmlrpc.conf",           ""  // submit files to a xmlrpc server

// logging
    "logdownload.so",               "log-download.conf",            ""
//  "logirc.so",                    "log-irc.conf",                 ""  // needs configuration


// dumping and logging
    "moduleportwatch.so",           "module-portwatch.conf",        ""

// cmd.exe simulation
    "shellemuwinnt.so"              "",                             ""

// single shellcodehandler modules 
    "shellcodegeneric.so",          "shellcode-generic.conf",       ""

// vulnerability modules
    "vulnasn1.so",                  "vuln-asn1.conf",               ""
    "vulnbagle.so",                 "vuln-bagle.conf",              ""
    "vulndameware.so",              "vuln-dameware.conf",           ""    
    "vulndcom.so",                  "vuln-dcom.conf",               ""
    "vulniis.so",                   "vuln-iis.conf",                ""
    "vulnkuang2.so",                "vuln-kuang2.conf",             ""
    "vulnlsass.so",                 "vuln-lsass.conf",              ""
    "vulnmsmq.so",                  "vuln-msmq.conf",               ""
    "vulnmssql.so",                 "vuln-mssql.conf",              ""
    "vulnmydoom.so",                "vuln-mydoom.conf",             ""
    "vulnnetbiosname.so",           "vuln-netbiosname.conf",        ""
    "vulnnetdde.so",                "vuln-netdde.conf",             ""
    "vulnoptix.so",                 "vuln-optix.conf",              ""
    "vulnpnp.so",                   "vuln-pnp.conf",                ""
    "vulnsasserftpd.so",            "vuln-sasserftpd.conf",         ""
    "vulnsub7.so",                  "vuln-sub7.conf",               ""
    "vulnupnp.so",                  "vuln-upnp.conf",               ""
    "vulnveritas.so",               "vuln-veritas.conf",            ""
    "vulnwins.so",                  "vuln-wins.conf",               ""


// eXample modules for testing - disabled by default
//  "x1.so",                       "x-1.conf",                     "",
//  "x2.so",                       "x-2.conf",                     "",
//  "x3.so",                       "",                             "",
//  "x4.so",                       "",                             "",
//  "x5.so",                       "",                             "",
//  "x6.so",                       "",                             "",
//  "x7.so",                       "",                             "",
    );

    modulemanager
    {
        exit_on_broken_moduleload   "1";
    };

    submitmanager
    {
        strictfiletype              "1";
        // where does submit-file write to? set this to the same dir
        filesdir                    "var/binaries/"; 
    };

    downloadmanager
    {
        replace_local_ips           "1";
    };

    socketmanager
    {
        use_rawsockets              "0"; // unstable feature
    };
    
    utilities
    {
	hexdump_path                "var/hexdumps/";
    };
};
