nepenthes
{
        moduledir       "modules";      // relative to workdir
        moduleconfigdir "modules";      // relative to workdir ( workdir is the dir you start nepenthes from )
		
	modules(
/*
 * eXample modules for testing 
 * disabled by default
 */
//	"x-1/x-1.so",				"x-1/x-1.conf",				"",
//	"x-2/x-2.so",				"",					"",
//	"x-3/x-3.so",				"",					"",
//        "x-4/x-4.so",				"",					"",
//        "x-5/x-5.so",                           "",                                   "",

/*
 * download handler for various protocolls
 */
 
	"download-tftp/download-tftp.so",	"download-tftp/download-tftp.conf",	""
	"download-csend/download-csend.so",     "download-csend/download-csend.conf",   ""
	"download-creceive/download-creceive.so","",   ""
	"download-curl/download-curl.so",     	"download-curl/download-curl.conf",   	""
	"download-nepenthes/download-nepenthes.so",       "download-nepenthes/download-nepenthes.conf",     ""
        "download-link/download-link.so",       "download-link/download-link.conf",     ""
	"download-ftp/download-ftp.so",         ""      				""

	

/*
 * single shellcodehandler modules 
 */
	"shellcode-generic/shellcode-generic.so","shellcode-generic/shellcode-generic.conf",""

/*
 * vulnerability modules 
 * 
 */
	"vuln-dcom/vuln-dcom.so",		"vuln-dcom/vuln-dcom.conf",		""	
        "vuln-wins/vuln-wins.so",               "vuln-wins/vuln-wins.conf",             ""
	"vuln-optix/vuln-optix.so",		"vuln-optix/vuln-optix.conf",           ""
	"vuln-sub7/vuln-sub7.so",               "vuln-sub7/vuln-sub7.conf",             ""
        "vuln-bagle/vuln-bagle.so",             "vuln-bagle/vuln-bagle.conf",           ""
	"vuln-mydoom/vuln-mydoom.so",           "vuln-mydoom/vuln-mydoom.conf",         ""
	"vuln-kuang2/vuln-kuang2.so",           "vuln-kuang2/vuln-kuang2.conf",         ""
	"vuln-lsass/vuln-lsass.so",           	"vuln-lsass/vuln-lsass.conf",           ""
        "vuln-mssql/vuln-mssql.so",            	"vuln-mssql/vuln-mssql.conf",		""
        "vuln-asn1/vuln-asn1.so",            	"vuln-asn1/vuln-asn1.conf",		""


        "vuln-iis/vuln-iis.so",                 "vuln-iis/vuln-iis.conf",               ""
        "vuln-upnp/vuln-upnp.so",               "vuln-upnp/vuln-upnp.conf",             ""
        "vuln-netbiosname/vuln-netbiosname.so", "vuln-netbiosname/vuln-netbiosname.conf",""
        "vuln-netdde/vuln-netdde.so",           "vuln-netdde/vuln-netdde.conf",         ""

        "vuln-msmq/vuln-msmq.so",               "vuln-msmq/vuln-msmq.conf",             ""

        "vuln-sasserftpd/vuln-sasserftpd.so",   "vuln-sasserftpd/vuln-sasserftpd.conf", ""
       	"vuln-veritas/vuln-veritas.so",         "vuln-veritas/vuln-veritas.conf",       ""

/*
 * other modules
 */

	"module-portwatch/module-portwatch.so", "module-portwatch/module-portwatch.conf",""

/*
 * submission handler
 */
	"submit-file/submit-file.so",		"submit-file/submit-file.conf",		""
//        "submit-norman/submit-norman.so",       "submit-norman/submit-norman.conf",     ""
//	"submit-nepenthes/submit-nepenthes.so", "submit-nepenthes/submit-nepenthes.conf",     ""


	"log-download/log-download.so"          "log-download/log-download.conf",       ""
//      "log-irc/log-irc.so"                    "log-irc/log-irc.conf"                  ""

	"shellemu-winnt/shellemu-winnt.so"	"",					""
	);

	modulemanager
	{
		exit_on_broken_moduleload	"1";
	};
	
	submitmanager
	{
		strictfiletype			"1";
		filesdir			"/tmp/"; // where does submit-file write to? set this to the same dir
	};
	
	downloadmanager
	{
		replace_local_ips		"1";
	};

        socketmanager
        {
               use_rawsockets                  "0"; // unstable feature
        };
};