submit-norman
{
	// this is the adress where norman sandbox reports will be sent
	email   "nsbx@mwcollect.org";
	urls	("http://www.norman.com/microsites/nsic/Submit/Special/45773/",
		 "http://luigi.informatik.uni-mannheim.de/submit.php?action=verify");

};
