submit-gotek
{
	host	"alliance.mwcollect.org";
	port	"34109";
	
	communitykey = "hexdump here";
	user	"user.name";

	spool
	{
		enable = 	"1";

		// spool directory where submissions are saved until sent
		// you can also manually place files here to submit them and
		// restart nepenthes
		directory =	"var/spool/nepenthes/gotek";
	};
};
