log-prelude
{

	// Name of the Prelude analyzer to use (default is nepenthes).	
	// analyzerName "nepenthes";

	// Name of the Prelude profile to use (default is nepenthes).
	// analyzerProfile "nepenthes";
};
